.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:#9B2226;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-timerbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#AE2012;
  border-radius: 10px;
  padding:50px;
  font-family: 'DejaVu Sans Mono';

}

.App-ButtonGroup{
  display:flex;
  flex-direction: row;
  align-items:center;
  background-color: #9B2226;
  padding:15px;
  border-radius: 50px;
  
}

.App-StartButton{

  align-items:center;
  background-color: #005F73;
  padding:5px;
  border-radius: 10px;
  margin: 5px 5px 5px 5px; 
}
.App-StopButton{

  align-items:center;
  background-color: #0A9396;
  padding:5px;
  border-radius: 10px;
  margin: 5px 5px 5px 5px; 
}

.App-ResetButton{

  align-items:center;
  background-color: #94D2BD;
  padding:5px;
  border-radius: 10px;
  margin: 5px 5px 5px 5px; 
}

.App-timerText{
  font-size: 70px;
  color:#E9D8A6;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
